In [15]:
import pandas as pd

content = ["i will be travelling to mumbai in train", 
           "i will be eating in train", 
           "i love travel alot", 
           "i love to eat south indian food"]

classes = ['t','f','t','f']

dic = {'desc':content, 'category':classes}

df = pd.DataFrame(dic)
df

  category                                     desc
0        t  i will be travelling to mumbai in train
1        f                i will be eating in train
2        t                       i love travel alot
3        f          i love to eat south indian food

In [45]:
df[df['category']=='f']

  category                             desc
1        f        i will be eating in train
3        f  i love to eat south indian food

In [ ]:
query = "i will eat while travel to my home town" ; #we need classify

In [35]:
from nltk.stem import PorterStemmer; #LancasterStemmer
ps = PorterStemmer()
ps.stem("eating")

'eat'

In [36]:
all_words = ""
for txt in content:
    all_words = all_words + txt + " "
all_words

'i will be travelling to mumbai in train i will be eating in train i love travel alot i love to eat south indian food '

In [38]:
stem_words = [ps.stem(w) for w in all_words.split()]
print(stem_words)

['i', 'will', 'be', 'travel', 'to', 'mumbai', 'in', 'train', 'i', 'will', 'be', 'eat', 'in', 'train', 'i', 'love', 'travel', 'alot', 'i', 'love', 'to', 'eat', 'south', 'indian', 'food']

In [39]:
voc = set(stem_words)
print(len(voc), voc)

14 {'mumbai', 'train', 'i', 'be', 'eat', 'indian', 'south', 'to', 'alot', 'food', 'love', 'travel', 'will', 'in'}

In [ ]:
#sklearn = scikitlearn = science kit learn

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer; #CountVectorizer / HashVectorizer
#tf = no. of times the word present in a sentence or document or class / total no. of instances of the word in corpus
#idf = 1 / (no. of sentence or document or class the word present in / total no. of sentences or documents or classes)

In [4]:
corpus = [
'This is the first document.',
'This document is the second document.',
'And this is the third one.',
'Is this the first document?']
corpus

['This is the first document.',
 'This document is the second document.',
 'And this is the third one.',
 'Is this the first document?']

In [5]:
vectorizer = TfidfVectorizer()

In [8]:
vectorized_data = vectorizer.fit(corpus); #never fit for test, only to train

In [12]:
X = vectorized_data.transform(corpus); #you can apply for train and test
print(X.shape)

(4, 9)

In [13]:
voc = vectorized_data.get_feature_names()
voc

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [22]:
X = vectorizer.fit_transform(corpus); #sparse matrix
X = X.todense()
X

matrix([[0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
         0.        , 0.38408524, 0.        , 0.38408524],
        [0.        , 0.6876236 , 0.        , 0.28108867, 0.        ,
         0.53864762, 0.28108867, 0.        , 0.28108867],
        [0.51184851, 0.        , 0.        , 0.26710379, 0.51184851,
         0.        , 0.26710379, 0.51184851, 0.26710379],
        [0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
         0.        , 0.38408524, 0.        , 0.38408524]])

In [23]:
words = vectorizer.get_feature_names()
sentences = [sentence for sentence in corpus]

df = pd.DataFrame(X, index=sentences, columns=words)
df

,and,document,first,is,one,second,the,third,this
This is the first document.,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
This document is the second document.,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
And this is the third one.,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
Is this the first document?,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085